@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

#caroText h2 {
	font-size: 5em;
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
}

#headerCaro h2 {
	-webkit-text-stroke-width: 3px;
   	-webkit-text-stroke-color: black;
   	color: white;
}

#caroText {
	padding-top:60px;
	padding-bottom: 60px;
}

#headerCaro {
	padding-bottom: 20px;
    padding-top: 10px;
}

#homePageContent {
	background-color: rgb(224,231,236);
}

#homePageContent img{
	cursor: pointer;
}

.footer-ask {
	width:70%;
	padding: 40px;
}
