@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');


p, h1, h2, h3, h4 {
	font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.filter-form {
	width: 100%; 
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin-left: 20px;
    margin-bottom: 20px;

}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

#filter-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content:flex-start;
	margin-top:5px;
	margin-bottom:15px;
}

.card {
	display: flex;
	flex-flow: column wrap;
	border: 2px #333 solid;
	width: 180px;
	margin: 10px;
	align-items: center;
	justify-content: flex-start;
	background-color: white;
	padding: 5px;
	max-height: 220px;
	cursor: pointer;

}

.card:hover {
	box-shadow: 10px 10px 5px #888888;
}

h2, h3 {
	margin: 0;
}

.card-bottom {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.card img {
	width: 160px;
	height: 160px;
	margin: 3px;
}

#search-span {
	display: flex;
	align-items: center;
	margin-left: 20px;
}

#sort-by {
	display: flex;
    align-items: flex-end;
    padding: 0;
    margin: 0;
}

#sort-by p {
	margin-right: 15px;
}

#sortBar {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	margin:10px;
	margin-bottom: 0;
	padding-bottom: 0;
	margin-right: 100px;


}

#filterBar {
	grid-column-start: 1;
	grid-row-start: 1;
	grid-row-end: 3;
	background-color: white;
	border-right: 1px gray solid;
	background: #e0e7ec;
	padding-top: 100px;
}

h2{
	font-size: 1.1em;
}

h3 {
	font-size: 0.9em;
}

#filter-list {
	background-color: white;
	padding: 10px;
	margin:0;
	display: flex;
	grid-column-start: 2;
	grid-row-start: 2;
	flex-flow: row wrap;
}

#mainDisplay {
	display: grid;
	grid-template-rows: 25% 75%;
	grid-template-columns: 250px 1fr;
	min-height: 100%;
}

#submit-search {
	background: rgb(202,203,202);
	background-size: 70%;
	border-radius: 0 15px 15px 0;
	width: 30px;
	height: 30px;
	padding: 6px;
	margin-left: 0;
	border: none;
	background-repeat:no-repeat;
	background-position: center center;
}

.search-div {
	align-content: flex-start;
    display: flex;
}

#search-bar {
	border-radius: 15px 0 0 15px;
	height: 30px;
	padding-left: 10px;
	border: none;
}